@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  border: 1px solid #e5e7eb;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: auto;
  gap: 1rem;
}

.title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
